<link rel="stylesheet" href="/project/css/detail.css">
<main>
    <top>当前位置：
        <a href="/">首页</a> / 移通要闻 / Detail
    </top>
    <title>
        <%- newOne.title %>

    </title>
    <content>

        <p>
            <%- newOne.p0 %>
        </p>
        <img <%- newOne.src0 %> alt=""
        <!-- height="200px" -->


        <p>
            <%- newOne.p1 %>
        </p>
        <img <%- newOne.src1 %> alt=""
        <P>
            <%- newOne.p2 %>
        </P>

    </content>
</main>